.pokemonsWrapper {
  width: 600px;
  padding: 30px 90px;

  .pokemons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
  }

  .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      padding: 10px;
      cursor: pointer;
      width: 300px;
      background-color: #2771ff;
      color: white;
      border-radius: 5px;
      margin-top: 20px;
    }
  }
}